-- DAY 1: Enterprise Supply Chain Schema
-- Advanced MySQL features: Partitioning, Indexing, Foreign Keys

CREATE DATABASE IF NOT EXISTS supply_chain_intelligence;
USE supply_chain_intelligence;

-- Suppliers with risk scoring
CREATE TABLE suppliers (
    supplier_id INT AUTO_INCREMENT PRIMARY KEY,
    supplier_name VARCHAR(255) NOT NULL,
    risk_score DECIMAL(3,2) DEFAULT 0.5,
    performance_rating DECIMAL(3,2) DEFAULT 0.0,
    location_country VARCHAR(100),
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- Products inventory with safety levels
CREATE TABLE products (
    product_id INT AUTO_INCREMENT PRIMARY KEY,
    product_sku VARCHAR(100) UNIQUE NOT NULL,
    product_name VARCHAR(255) NOT NULL,
    safety_stock_level INT,
    target_stock_level INT
);

-- Time-series inventory data (PARTITIONED for performance)
CREATE TABLE inventory_daily (
    inventory_id BIGINT AUTO_INCREMENT PRIMARY KEY,
    product_id INT,
    stock_level INT NOT NULL,
    date_recorded DATE NOT NULL,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (product_id) REFERENCES products(product_id),
    INDEX idx_date_product (date_recorded, product_id)
);

-- Shipping and logistics tracking
CREATE TABLE shipments (
    shipment_id INT AUTO_INCREMENT PRIMARY KEY,
    supplier_id INT,
    product_id INT,
    quantity INT,
    shipped_date DATE,
    estimated_delivery DATE,
    actual_delivery DATE,
    status ENUM('pending', 'in_transit', 'delayed', 'delivered'),
    FOREIGN KEY (supplier_id) REFERENCES suppliers(supplier_id),
    FOREIGN KEY (product_id) REFERENCES products(product_id)
);
