-- Day 1: Inventory Anomaly Detection
-- Detects stock levels below safety threshold

SELECT 
    p.product_name,
    p.product_sku,
    i.stock_level,
    p.safety_stock_level,
    i.date_recorded,
    CASE 
        WHEN i.stock_level <= p.safety_stock_level THEN 'CRITICAL_ANOMALY'
        WHEN i.stock_level <= (p.safety_stock_level * 1.2) THEN 'WARNING'
        ELSE 'NORMAL'
    END as anomaly_status
FROM inventory_daily i
JOIN products p ON i.product_id = p.product_id
WHERE i.stock_level <= (p.safety_stock_level * 1.2)
ORDER BY i.date_recorded DESC;
